include _globals.pug

footer#footer
    .container
        .row
            .col
                img(src="./assets/png/image.png", alt="imagealt")
                h2 Clinicio
                p We are a family centered practice that incorporates compassion and dedication to promote your well being.
            .col
                span Patient care
                ul
                    each val,index in objCare
                        li
                            a(href=index)=val
            .col
                span Contact
                ul
                    each val,index in contactIcons
                        +contactItem(val,contactTexts[index],contactUrls[index])
            .col
                span Follow Us
                .d-flex
                    a(href="#").fa.fa-facebook
                    a(href="#").fa.fa-youtube-play

                    