include _globals.pug

footer#footer.footer
    .container-fluid.footer-container
        .row.gap-5
            .col.footer-img
                img(src="./assets/png/logo.png", alt="imagealt")
                p We are a family centered practice that incorporates compassion and dedication to promote your well being.
            .col.footer-patient-care
                span Patient care
                ul
                    each val,index in objCare
                        li
                            a(href=index)=val
            .col.footer-contact
                span Contact
                ul
                    // TODO: Give links
                    each val,index in contactIcons
                        +contactItem(val,contactTexts[index],contactUrls[index])
            .col.footer-social
                span Follow Us
                .d-flex
                    a(href="https://www.facebook.com/creotec").fa.fa-facebook
                    a(href="https://www.youtube.com/channel/UCFhowzZjG86I_UZh2AByZmw").fa.fa-youtube-play                    