include _globals.pug
include _modals.pug

header
    .container
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
            .container
                a.navbar-brand(href='#')
                    img(src="./assets/png/logo.png", alt="logo")
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNavAltMarkup.collapse.navbar-collapse
                    .navbar-nav.ms-auto 
                        each val,key in headerItems
                            a.nav-link(class=(val==pag)?"active":"", href=key)=val
                        button.btn.navbar-btn(type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal") Crear Pedido
                        button.btn.navbar-btn(onclick="location.href='./login.html';" type="button") Iniciar Sesión