include _globals.pug

header
    .container
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
            .container
                a.navbar-brand(href='#')
                    img(src="./assets/png/logo.png", alt="logo")
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNavAltMarkup.collapse.navbar-collapse
                    .navbar-nav.ms-auto
                        // TODO: Add functionality
                        each val,key in headerItems
                            a.nav-link(class=(val==pag)?"active":"", href=key)=val
                        each val,id in headerButtons
                            button.btn.navbar-btn(onclick="location.href='"+id+"';" type="button" data-bs-toggle="modal" data-bs-target=id)= val