- var items = {"#1": "Home", "#2": "Nosotros", "#3": "Proceso", "#4": "Precios", "#5": "Contacto", "#6": "Proyectos", "#7": "FAQ", "#8": "Crear pedido", "#9": "Iniciar sesión"}

header
    .container
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            .container
                a.navbar-brand(href='#') Navbar
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNavAltMarkup.collapse.navbar-collapse
                    .navbar-nav.ms-auto
                        each val,key in items
                            if(val == pag)
                                a.nav-link.active(href=key)=val
                            else
                                a.nav-link(href=key)=val