- var items = {"#1": "Home", "#2": "Nosotros", "#3": "Contacto", "#4": "Proyectos", "#5": "Crear pedido", "#6": "Iniciar sesión"}

header
    .container
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            .container
                a.navbar-brand(href='#') Navbar
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNavAltMarkup.collapse.navbar-collapse
                    .navbar-nav.ms-auto
                        each val,key in items
                            a.nav-link(class=(val==pag)?"active":"", href=key)=val
                            