section.modals
    #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-lg
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Crea tu pedido
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    form.order
                        .mb-3
                            label.col-form-label(for='recipient-name') Nombre:
                            input.form-control(type='text' name="name" autocomplete="name")
                        .mb-3
                            label.col-form-label(for='message-text') Teléfono:
                            input.form-control(type='text' name="phone" autocomplete="phone")
                        .mb-3
                            label.col-form-label(for='message-mail') Correo:
                            input.form-control(type='text' name="email" autocomplete="mail")
                        .mb-3#btngroup
                            .form-check
                                input#exampleRadios1.form-check-input(type='radio' name='exampleRadios' value='option1' checked='')
                                label.form-check-label(for='exampleRadios1')
                                    | Solicitud de compra de prótesis
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio' name='exampleRadios' value='option2')
                                label.form-check-label(for='exampleRadios2')
                                    | Solicitud de donación de prótesis
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio' name='exampleRadios' value='option3')
                                label.form-check-label(for='exampleRadios3')
                                    | Solicitud de empresa para proyecto RSE
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancelar
                    button#submit-order-button.btn.btn-primary(type='button') Confirmar
    #signupModal.modal.fade(tabindex='-1' aria-labelledby='signupModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-lg
            .modal-content
                .modal-header
                    h5#signupModalLabel.modal-title Registrate
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    form.signup-form
                        .mb-3
                            label.col-form-label(for='recipient-name') Nombre:
                            input.form-control(type='text' name="name" autocomplete="name")
                        .mb-3
                            label.col-form-label(for='message-text') Teléfono:
                            input.form-control(type='text' name="phone" autocomplete="phone")
                        .mb-3
                            label.col-form-label(for='message-mail') Correo:
                            input.form-control(type='text' name="email" autocomplete="mail")
                        .mb-3
                            label.col-form-label(for='user-country') Pais:
                            input#country_input.form-control(list="country")
                            datalist(id="country")
                                include ./data/_countries.pug 
                        .mb-3
                            label.col-form-label(for='password-text') Contraseña:
                            input.form-control(type='password' name="password" )
                        .mb-3
                            label.col-form-label(for='password-text') Confirmar contraseña:
                            input.form-control(type='password' name="confirm_password")
                .modal-footer
                    button#signup-button.btn.btn-primary(type='button') Registrarse
    #Modal1.modal.fade(tabindex='-1' aria-labelledby='Modal1Label' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    h5#Modal1Label.modal-title Agendar cita
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    form.date
                        .mb-3
                            label.col-form-label(for='recipient-name') Nombre:
                            input.form-control(type='text' name="name")
                        .mb-3
                            label.form-label(for='exampleInputEmail1') Fecha
                            input#exampleInputDate.form-control(type='date' aria-describedby='dateHelp' placeholder='Select date and time' name="date")
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancelar
                    button.btn.btn-primary(type='button') Confirmar
    #Modal2.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog.modal-xl.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Nuestro Equipo
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    .container-fluid
                        .row
                            .col
                                img(src="./assets/png/team1.png", alt="image" width="200")
                                h2 Antonio Riveros
                            .col
                                img(src="./assets/png/team2.png", alt="image" width="200")
                                h2 Rafael Riveros
                        .row
                            .col
                                img(src="./assets/png/team3.png", alt="image" width="200")
                                h2 Josue Castillo
                            .col
                                img(src="./assets/png/team4.png", alt="image" width="200")
                                h2 Koryan Lee
                .modal-footer
                    button.btn.btn-primary(type='button' data-bs-dismiss='modal') Confirmar
    #Modal3.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog.modal-xl.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Nuestros Premios
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    .container-fluid
                        .row
                            .col
                                img(src="./assets/jpg/award1.jpeg", alt="image" width="200")
                                h2 Ganadores Innovatic Bolivia
                            .col
                                img(src="./assets/jpg/award2.jpeg", alt="image" width="200")
                                h2 Primer Lugar Reconocimiento Kamay a la Innovación
                        .row
                            .col
                                img(src="./assets/jpg/award3.jpeg", alt="image" width="200")
                                h2 Ganadores Programa "Nada te Detiene"
                            .col
                                img(src="./assets/png/award4.png", alt="image" width="200")
                                h2 Subcategoría: Salud
                .modal-footer
                    button.btn.btn-primary(type='button' data-bs-dismiss='modal') Confirmar