include _globals.pug

main.case#case
    .container
        .row
            .col
                nav(aria-label='breadcrumb')
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href='./index.html') Home
                        li.breadcrumb-item.active(aria-current='page') Healthy Tips

        .row
            .col.case-title
                h1 
                    | 28 Health and Nutrition Tips That Are Actually <br >
                    | Evidence-Based
        .row
            .col.case-date
                i.bi.bi-calendar
                span 30/09/2021

section.information
    .container
        .row
            .col-12.information-image
            .col-12
                strong One of the keys to healthy movement, whether you practice yoga, calisthenics, CrossFit, or powerlifting is flexibility and good range of motion in your upper you practice yoga, calisthenics, CrossFit, or powerlifting
            .col-12
                p The game starts us at a double screen, where we choose either the game or the additional content. As you can see, the same option is present on the next screen too. This creates an unnecessary barrier between the player and where they want to go, so keeping options all in one screen would allow for faster navigation.Moving to the next screen we see the text or icons used for navigation. This is a good way to make commonly used options prominent while the less frequently used ones are minimized. This screen also shows us that the game uses the color orange as the active state for buttons. The background illustration sets the tone for the game we are about to experience very well. his screen also shows us that the game uses the color orange as the active state for buttons. The background illustration sets the tone for the game we are about to experience very well.
            .col-12.text-center
                img(src="./assets/jpg/img-1.jpg", alt="image")
            .col-12
                span.text-center When you want to have the maximum emotional impact in a
            .col-12
                p The game starts us at a double screen, where we choose either the game or the additional content. As you can see, the same option is present on the next screen too. This creates an unnecessary barrier between the player and where they want to go, so keeping options all in one screen would allow for faster navigation.Moving to the next screen we see the text or icons used for navigation. This is a good way to make commonly used options prominent while the less frequently used ones are minimized. This screen also shows us that the game uses the color orange as the active state for buttons. The background illustration sets the tone for the game we are about to experience very well. his screen also shows us that the game uses the color orange as the active state for buttons. The background illustration sets the tone for the game we are about to experience very well.

section.tags#tags
    .container
        .row
            .col
                span.rounded-pill.badge.bg-primary.pt-2.pb-2 Tag 1
                span.rounded-pill.badge.bg-light.text-black.pt-2.pb-2 Tag 2
                span.rounded-pill.badge.bg-light.text-black.pt-2.pb-2 Emergency
            .col
                span Share: 
                i.bi.bi-facebook
                i.bi.bi-twitter

section.similarposts#similarposts
    .container
        .row
            .col
                h5 Similar posts
        .row
            .col
                .container.gap-4.items-content
                    +rowCasesCards(casesItemsImages,casesItemsTexts,casesItemsUrls)