.container-fluid.faq
    .row
        .col.text-center
            h1 We are here to help
    .row
        .col.form
            form
                input#txtSearch.form-control(type="text" placeholder="Search" style="font-family: FontAwesome,'Merriweather Sans', sans-serif;")

.container.faq-content
    .row
        .col-12.col-lg-4
            h2 Category
            ul.list-group
                a(href="#1") 
                    li.list-group-item.active(aria-current='true')  Para clientes
                a(href="#2") 
                    li.list-group-item Para negocios
                a(href="#3") 
                    li.list-group-item Para makers
        .col-12.col-lg-8
            h2 Q&A
            #accordionExample.accordion
                .accordion-item
                    h2#headingOne.accordion-header
                        button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                            | ¿Cómo solicito la fabricación de mi prótesis?
                    #collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne' data-bs-parent='#accordionExample')
                        .accordion-body
                            p Contáctate con nosotros para seleccionar tu prótesis y para enviarte una cotización. Cuando confirmes la solicitud empezamos con el proceso de diseño y fabricación.
                .accordion-item
                    h2#headingTwo.accordion-header
                        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                            | ¿Cómo toman las medidas para diseñar mi prótesis?
                    #collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo' data-bs-parent='#accordionExample')
                        .accordion-body
                            p Para tu prótesis requerimos algunas medidas y fotografías. Las medidas las toma una persona capacitada dentro del equipo de Creotec cumpliendo protocolos de bioseguridad. Contáctate con nosotros para saber más.
                .accordion-item
                    h2#headingThree.accordion-header
                        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                            | ¿Cómo se realizan las pruebas para mi prótesis?
                    #collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree' data-bs-parent='#accordionExample')
                        .accordion-body
                            p Realizamos pruebas con un modelo preliminar para las prótesis con impresión 3D y un modelo final para las prótesis cosméticas. En la prueba verificamos que tu prótesis sea cómoda y del tamaño perfecto para ti. Contáctate con nosotros para saber más.
                .accordion-item
                    h2#headingFour.accordion-header
                        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseFour' aria-expanded='false' aria-controls='collapseFour')
                            | ¿En cuánto tiempo se fabrica mi prótesis?
                    #collapseFour.accordion-collapse.collapse(aria-labelledby='headingFour' data-bs-parent='#accordionExample')
                        .accordion-body
                            p El tiempo de fabricación varía de acuerdo al tipo y tamaño de la prótesis. Puedes contactarte con nosotros en cualquier momento para saber el tiempo aproximado de fabricación de cada prótesis o para saber en que etapa de fabricación se encuentra tu prótesis.
    
