.container-fluid.faq
    .row
        .col.text-center
            h1 We are here to help
    .row
        .col.form
            form
                // TODO: Hide magnifing glass when typing
                input#txtSearch.form-control(type="text" placeholder="Search" style="font-family: FontAwesome,'Merriweather Sans', sans-serif;")

.container.faq-content
    .row
        .col-12.col-lg-4
            h2 Category
            ul.list-group
                a(href="#1") 
                    li.list-group-item.active(aria-current='true')  For Customer
                a(href="#2") 
                    li.list-group-item For Business
                a(href="#3") 
                    li.list-group-item For Partner
        .col-12.col-lg-8
            .container
                .row
                    .container
                        .row
                            .col
                                h2 Q&A
                                #accordionExample.accordion
                                    .accordion-item
                                        h2#headingOne.accordion-header
                                            button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                                                | Accordion Item #1
                                        #collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne' data-bs-parent='#accordionExample')
                                            .accordion-body
                                                strong This is the first item&apos;s accordion body.
                                                |    It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It&apos;s also worth noting that just about any HTML can go within the 
                                                code .accordion-body
                                                | , though the transition does limit overflow.
                                    .accordion-item
                                        h2#headingTwo.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                                                | Accordion Item #2
                                        #collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo' data-bs-parent='#accordionExample')
                                            .accordion-body
                                                strong This is the second item&apos;s accordion body.
                                                |    It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It&apos;s also worth noting that just about any HTML can go within the 
                                                code .accordion-body
                                                | , though the transition does limit overflow.
                                    .accordion-item
                                        h2#headingThree.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                                                | Accordion Item #3
                                        #collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree' data-bs-parent='#accordionExample')
                                            .accordion-body
                                                strong This is the third item&apos;s accordion body.
                                                |    It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It&apos;s also worth noting that just about any HTML can go within the 
                                                code .accordion-body
                                                | , though the transition does limit overflow.
                                    .accordion-item
                                        h2#headingThree.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                                                | Accordion Item #4
                                        #collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree' data-bs-parent='#accordionExample')
                                            .accordion-body
                                                strong This is the third item&apos;s accordion body.
                                                |    It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It&apos;s also worth noting that just about any HTML can go within the 
                                                code .accordion-body
                                                | , though the transition does limit overflow.
                                    .accordion-item
                                        h2#headingThree.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                                                | Accordion Item #5
                                        #collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree' data-bs-parent='#accordionExample')
                                            .accordion-body
                                                strong This is the third item&apos;s accordion body.
                                                |    It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It&apos;s also worth noting that just about any HTML can go within the 
                                                code .accordion-body
                                                | , though the transition does limit overflow.
                        .row.items-pages
                            .col.d-flex.justify-content-center
                                nav(aria-label='Page navigation example')
                                    ul.pagination.justify-content-center
                                        li.page-item.disabled
                                            // TODO: hide when page is 0
                                            a Previous
                                        li.page-item
                                            a(href='#') 1
                                        li.page-item
                                            a(href='#') 2
                                        li.page-item
                                            a(href='#') 3
                                        li.page-item
                                            // TODO: hide when page is n
                                            a(href='#') Next
