main
    .container
        .row
            .col-lg.col-12
                h1 Crea tu protesis a bajo costo
                p Mejora tu calidad de vida con una prótesis personalizada
            .col-lg.col-12
                img(src="./assets/png/image.png", alt="image")