include _globals.pug

main.homepage
    .container
        .row.mt-5
            .col-lg.col-12.homepage-description
                h1 Crea tu protesis a bajo costo
                p Mejora tu calidad de vida con una prótesis personalizada
                button.btn.btn-primary(type="button") Comenzar Proceso
            .col-lg.col-12.d-flex.justify-content-lg-evenly.justify-content-between.homepage-images
                img(src="./assets/png/image.png", alt="image")
                .btn-group-vertical.gap-4.d-flex.justify-content-end.homepage-images-buttongroup
                    button#btn-nav-img-1.btn.homepage-images-btn 1
                    button#btn-nav-img-2.btn 2
                    button#btn-nav-img-3.btn 3
                    button#btn-nav-img-4.btn 4

section.blockcontent1#blockcontent1
    .container
        .row
            .col-lg.col-12.blockcontent1-description
                h1 Por qué elegirnos?
            .col-lg.col-12.blockcontent1-images
                img(src="./assets/png/image.png", alt="image")

section.blockcontent-2#blockcontent-2
    .container-fluid.bg-primary
        .row
            .col.pt-5.pb-4.text-center
                h1.text-center.text-white.fs-4 “Good health is not something we can buy. However, it can be an extremely valuable savings account.”
                button.btn.btn-light.text-primary.mt-3 Request an Appointment

section.services#services
    .container
        .row
            .col.services-title
                h1.mt-3.mb-4 Nuestros servicios
        .row.text-center.d-flex.justify-content-center
            each val,index in cardImages
                +cardWithModal(val,cardTitles[index],cardTexts[index], cardModals[index],index)

section.patients#patients
    .container
        .row.patients-title
            h1 Nuestros Pacientes
        .row.patients-testimonials
            .col-lg-6.col
                .card.d-flex.justify-content-center.text-center
                    img(src='./assets/png/image.png' alt='...')
                    .card-body
                        h5.card-title Card title
                        p.card-text
                            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        i.bi.bi-quote
            .col-lg-6.col
                .card.d-flex.justify-content-center.text-center
                    img(src='./assets/png/image.png' alt='...')
                    .card-body
                        h5.card-title Card title
                        p.card-text
                            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        i.bi.bi-quote
        .row.patients-nav
            .col-2.offset-5
                ul.d-flex.justify-content-around
                    li#nav-service-item-1.patients-nav-item
                    li#nav-service-item-2
                    li#nav-service-item-3
                    li#nav-service-item-4
                    li#nav-service-item-5

section.healthy#healthy
    .container
        .row.text.center.healthy-title
            h1 Healthy Tips
        .row.healthy-cards
            each val,index in cardHealthyImages
                +card(val,cardHealthyTitles[index],cardHealthyTexts[index])
        .row
            .col-2.offset-5.healthy-button
                button.btn.btn-primary(type="button")
                    | More post   
                    i.bi.bi-chevron-right

section.contact#contact
    .container
        .row
            .col.text-center
                h1 
                    | Request Appointment <br />
                    | for Annual Wellness Exam
        .row
            .col-6.form.offset-3
                .mb-3
                    label.form-label(for='exampleInputEmail1') Your Full Name
                    input#exampleInputEmail1.form-control(type='text' aria-describedby='emailHelp')
                .mb-3
                    label.form-label(for='exampleInputEmail1') Phone Number
                    input#exampleInputEmail1.form-control(type='number' aria-describedby='emailHelp')
                .mb-3
                    label.form-label(for='exampleInputEmail1') Email
                    input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp')
                .mb-3
                    label.form-label(for='exampleInputEmail1') Your Full Name
                    input#exampleInputEmail1.form-control(type='date' aria-describedby='emailHelp')
        .row
            .col.d-flex.justify-content-center
                button.btn.btn-primary(type='submit') Submit



section.blockcontent-3#blockcontent-3
    .container
        .row
            .col
                h1 Accepted Insurance
        .row
            .col.d-flex.justify-content-between.overflow-hidden
                each val in insuranceImages
                    img(src=val, alt="alt")

section.blockcontent-4#blockcontent-4
    .container.bg-primary.pt-3
        .row.d-flex.justify-content-center.text-center
            .col-lg-4.col-12
                img(src="./assets/png/image.png", alt="imagealt")
                h1  Meet Our Doctors
                button.btn.btn-light(type="button") See more
            .col-lg-4.col-12
                img(src="./assets/png/image.png", alt="imagealt")
                h1  Meet Our Doctors
                button.btn.btn-light(type="button") See more
