include _globals.pug

main.cases#cases
    .container-fluid
        .row
            .col
                .container
                    .row
                        .col
                            h1.cases-title Proyectos
                            span.text-white Conoce nuestros proyectos

section.items
    .container
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            .container-fluid
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.me-auto.mb-2.mb-lg-0
                        form.d-flex
                            // Get data to search
                            input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
                            button.btn.btn-outline-success(type='submit') Search
                        li.nav-item.dropdown
                            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                                | Dropdown
                            ul.dropdown-menu(aria-labelledby='navbarDropdown')
                                li
                                    a.dropdown-item(href='#') Action
                                li
                                    a.dropdown-item(href='#') Another action
                                li
                                    hr.dropdown-divider
                                li
                                    a.dropdown-item(href='#') Something else here
                        li.nav-item.dropdown
                            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                                | Dropdown
                            ul.dropdown-menu(aria-labelledby='navbarDropdown')
                                li
                                    a.dropdown-item(href='#') Action
                                li
                                    a.dropdown-item(href='#') Another action
                                li
                                    hr.dropdown-divider
                                li
                                    a.dropdown-item(href='#') Something else here
        .row
            .col
                .container.items-content
                    +rowAboutCards(casesItemsImages,casesItemsTexts,casesItemsUrls,casesId1)
                    +rowAboutCards(casesItemsImages,casesItemsTexts,casesItemsUrls,casesId2)
                    +rowAboutCards(casesItemsImages,casesItemsTexts,casesItemsUrls,casesId3)
        .row.items-pages
            .col
                nav(aria-label='Page navigation example')
                    ul.pagination.justify-content-center
                        li.page-item.disabled
                            li.page-item#btn-prev
                                a(href="#0") Previous
                            li.page-item#btn-next
                                a(href='#4') Next