include _globals.pug

main.cases#cases
    .container-fluid
        .row
            .col
                h1.cases-title.text-center Healthy Tips

section.items
    .container
        .row.items-nav
            .col
                ul.nav
                    li.nav-item
                        a.nav-link.active(aria-current='page' href='#1') All
                    li.nav-item
                        a.nav-link(href='#2') Urgent
                    li.nav-item
                        a.nav-link(href='#3') Adults
                    li.nav-item
                        a.nav-link(href='#4') Pediatrics
                    li.nav-item
                        a.nav-link(href='#5') Gynecology

        .row
            .col
                .container.items-content
                    +rowCasesCards(casesItemsImages,casesItemsTexts,casesItemsUrls,casesId1)
                    +rowCasesCards(casesItemsImages,casesItemsTexts,casesItemsUrls,casesId2)
                    +rowCasesCards(casesItemsImages,casesItemsTexts,casesItemsUrls,casesId3)
        .row.items-pages
            .col
                nav(aria-label='Page navigation example')
                    ul.pagination.justify-content-center
                        li.page-item#btn-prev
                            // TODO: hide when page is 0
                            a Previous
                        li.page-item
                            a(href='#') 1
                        li.page-item
                            a(href='#') 2
                        li.page-item
                            a(href='#') 3
                        li.page-item#btn-next
                            // TODO: hide when page is n
                            a(href='#') Next

section.blockcontent4#blockcontent4
    .container-fluid.bg-primary.pt-3.blockcontent4-container
        .row.d-flex.justify-content-center.text-center
            .col-lg-4.col-12.blockcontent4-left
                img(src="./assets/png/image.png", alt="imagealt")
                h1  Meet Our Doctors
                // TODO: add functionality
                button.btn.btn-light(type="button") See more
            .col-lg-4.col-12.blockcontent4-right
                img(src="./assets/png/image.png", alt="imagealt")
                h1  Meet Our Doctors
                // TODO: add functionality
                button.btn.btn-light(type="button") See more
