include _globals.pug

main.cases#cases
    .container-fluid
        .row
            .col
                .container
                    .row
                        .col
                            h1.cases-title Servicios
                            span.text-white Innovando en prótesis 3D a medida 



.section.services-page#services-page
    .container
        .row
            .col-4
                .container
                    .row
                        .col
                            h1 Pasos para <br > Obtener tu prótesis
                            p Creotec puede donar prótesis a personas de bajos recursos
                    .row
                        .col.text-center
                            button.btn.rounded-pill.btn-primary(type='button') 
                                i.bi.bi-calendar-check
                                |  Crear pedido
            .col-8
                .container.gap-3
                    .row.mb-4
                        .col
                            .card
                                .btn-text-start
                                    img.card-img-top(src="./assets/jpg/paso1.jpeg" alt="image")
                                .card-body
                                    h5.card-title Paso 1
                                    p.card-text Solicitas tu prótesis y te confirmamos el inicio de su fabricación
                        .col
                            .card
                                .btn-text-start
                                    img.card-img-top(src="./assets/jpg/paso2.jpeg" alt="image")
                                .card-body
                                    h5.card-title Paso 2
                                    p.card-text El equipo de Creotec diseña la prótesis a tu medida.
                    .row
                        .col
                            .card
                                .btn-text-start
                                    img.card-img-top(src="./assets/jpg/paso3.jpeg" alt="image")
                                .card-body
                                    h5.card-title Paso 3
                                    p.card-text Pago inicial y te mandamos pruebas de tu prótesis las veces necesarias hasta que quede perfecta.
                        .col
                            .card
                                .btn-text-start
                                    img.card-img-top(src="./assets/jpg/paso4.jpeg" alt="image")
                                .card-body
                                    h5.card-title Paso 4
                                    p.card-text Pago final y entrega de tu prótesis terminada y la garantía.

//- section.service-carousel#service-carousel
//-     .container
//-         .row
//-             .col
//-                 h1 Our Personalized Prevention plan Is Designed To Keep You Safe
//-                 .container-carousel
//-                     .wgh-slider
//-                         input#slide-1.wgh-slider-target(type='radio' name='slider')
//-                         input#slide-2.wgh-slider-target(type='radio' name='slider')
//-                         input#slide-3.wgh-slider-target(type='radio' name='slider' checked='checked')
//-                         input#slide-4.wgh-slider-target(type='radio' name='slider')
//-                         input#slide-5.wgh-slider-target(type='radio' name='slider')
//-                         .wgh-slider__viewport
//-                             .wgh-slider__viewbox
//-                                 .wgh-slider__container
//-                                     .wgh-slider-item
//-                                         .wgh-slider-item__inner
//-                                             figure.wgh-slider-item-figure
//-                                                 img.wgh-slider-item-figure__image(src='img/image-1.jpg' alt='The 5th Exotic')
//-                                                 figcaption.wgh-slider-item-figure__caption
//-                                                     a(href='https://f4.bcbits.com/img/a3905613628_16.jpg') The 5th Exotic
//-                                                     span Quantic
//-                                             label.wgh-slider-item__trigger(for='slide-1' title='Show product 1')
//-                                     .wgh-slider-item
//-                                         .wgh-slider-item__inner
//-                                             figure.wgh-slider-item-figure
//-                                                 img.wgh-slider-item-figure__image(src='img/image-2.jpg' alt='The 5th Exotic')
//-                                                 figcaption.wgh-slider-item-figure__caption
//-                                                     a(href='https://f4.bcbits.com/img/a3905613628_16.jpg') The 5th Exotic
//-                                                     span Quantic
//-                                             label.wgh-slider-item__trigger(for='slide-2' title='Show product 2')
//-                                     .wgh-slider-item
//-                                         .wgh-slider-item__inner
//-                                             figure.wgh-slider-item-figure
//-                                                 img.wgh-slider-item-figure__image(src='img/image-3.png' alt='The 5th Exotic')
//-                                                 figcaption.wgh-slider-item-figure__caption
//-                                                     a(href='https://f4.bcbits.com/img/a3905613628_16.jpg') The 5th Exotic
//-                                                     span Quantic
//-                                             label.wgh-slider-item__trigger(for='slide-3' title='Show product 3')
//-                                     .wgh-slider-item
//-                                         .wgh-slider-item__inner
//-                                             figure.wgh-slider-item-figure
//-                                                 img.wgh-slider-item-figure__image(src='img/image-4.jpg' alt='The 5th Exotic')
//-                                                 figcaption.wgh-slider-item-figure__caption
//-                                                     a(href='https://f4.bcbits.com/img/a3905613628_16.jpg') The 5th Exotic
//-                                                     span Quantic
//-                                             label.wgh-slider-item__trigger(for='slide-4' title='Show product 4')
//-                                     .wgh-slider-item
//-                                         .wgh-slider-item__inner
//-                                             figure.wgh-slider-item-figure
//-                                                 img.wgh-slider-item-figure__image(src='img/image-5.jpg' alt='RYSY - Traveler LP')
//-                                                 figcaption.wgh-slider-item-figure__caption
//-                                                     a(href='https://picsum.photos/id/237/480/480') RYSY - Traveler LP
//-                                                     span RYSY
//-                                             label.wgh-slider-item__trigger(for='slide-5' title='Show product 5')
                


section.record#record
    .row
        .col.text-center
            h1 200
            span Amputaciones en Bolivia
            a(href="#1") 
                | Ver más 
                i.bi.bi-arrow-right
        .col.text-center
            h1 200
            span Amputaciones en Bolivia
            a(href="#2") 
                | Ver más 
                i.bi.bi-arrow-right
        .col.text-center
            h1 200
            span Amputaciones en Bolivia
            a(href="#3") 
                | Ver más 
                i.bi.bi-arrow-right

section.checklist#checklist
    .container
        .row
            .col
                img(src="./assets/jpg/home3.jpg" alt="image")
            .col
                h2 Annual Wellness Exam Checklist
                ul
                    li
                        i.bi.bi-check-circle-fill
                        |  Conoce como Creotec hace tu prótesis personalizada
                    li
                        i.bi.bi-check-circle-fill
                        |  Creotec puede donar prótesis a personas de bajos recursos
                    li
                        i.bi.bi-check-circle-fill
                        |  Hacemos proyectos de RSE para impactar a tu comunidad
                    li
                        i.bi.bi-check-circle-fill
                        |  Las prótesis de Creotec son accesibles para tu economía y de alta calidad

section.contact#contact
    .container.contact-container
        .row.contact-title
            .col.text-center
                h1 Te contactamos con e-mail
        .row.contact-form
            .col-6.form.offset-3
                .mb-3
                    label.form-label(for='exampleInputEmail1') Nombre completo
                    input#exampleInputName.form-control(type='text' aria-describedby='nameHelp' placeholder='Ingrese aquí')
                .mb-3
                    label.form-label(for='exampleInputEmail1') Número de teléfono
                    input#exampleInputNumber.form-control(type='tel' aria-describedby='numberHelp' placeholder='Ingrese aquí')
                .mb-3
                    label.form-label(for='exampleInputEmail1') Email
                    input#exampleInputEmail.form-control(type='email' aria-describedby='emailHelp' placeholder='Ingrese aquí')
                .mb-3
                    label.form-label(for='exampleInputEmail1') Fecha
                    input#exampleInputDate.form-control(type='date' aria-describedby='dateHelp' placeholder='Seleccionar fecha')
        .row.contact-submit
            .col.d-flex.justify-content-center
                button.btn.btn-primary(type='submit') Enviar