.container.login
    .row
        .col
        .col.text-center
            h2 Hola de nuevo!
            span Bienvenido, Inicia sesión para continuar
            form.form-signin.d-grid.gap-3
                label.sr-only(for='inputEmail') Email address
                input#inputEmail.form-control(type='email' name="email" placeholder='Email address' required='' autofocus='')
                label.sr-only(for='inputPassword') Password
                input#inputPassword.form-control(type='password' name="password" placeholder='Password' required='')
                a(href="#1") Recover password
                button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
            span Or continue with
            .d-flex.justify-content-around
                a#google-signin-button(href="#1")
                    img(src="./assets/png/logo.png", alt="logo")
                a#facebook-signin-button(href="#1")
                    img(src="./assets/png/logo.png", alt="logo")
                a#twitter-signin-button(href="#1")
                    img(src="./assets/png/logo.png", alt="logo")
            span
                | No tienes cuenta?
                a(href="#1")  Regístrate!