main.cases#cases
    .container-fluid
        .row
            .col
                .container
                    .row
                        .col.text-center
                            h1.cases-title About Us

section.welcome
    .container
        .row
            .col
                .quote
                    i.bi.bi-quote
                    span PhD. Jessica Nolan 
                    h6 We push the limits of what's possible for our patients.
            .col
                h2 Welcome To Clinicio
                span Our clients are our priority, we offer quality medical services with a team of specialists.
                p Our mission is to improve the health of our community by providing high quality, comprehensive medical care in a welcoming and compassionate environment. <br ><br > On behalf of the entire staff, we would like to welcome you to our clinic. We are pleased to have the opportunity to assist you with your physical therapy care. Our goal is to provide the highest quality and most up-to-date physical therapy treatments available in a professional and caring manner. We are committed to helping you attain your rehabilitation goals. It is also our goal to provide you with outstanding service.

section.image
    .container-fluid.text-center

section.story
    .container
        .row
            .col
                h2 Our story
                p We are a private, independent practice constantly striving to provide excellence in personalized, compassionate care that is consistent, quality-driven and choice-conscious for all of our patients.
                ul
                    li
                        i.bi.bi-check-circle-fill
                        |  Our staff is well trained, caring and professional
                    li
                        i.bi.bi-check-circle-fill
                        |  Willing to learn and update technology in an effort to achieve efficient and quality-driven patient care.
                    li
                        i.bi.bi-check-circle-fill
                        |  Willing to learn and update technology in an effort to achieve efficient and quality-driven patient care.
                    li
                        i.bi.bi-check-circle-fill
                        |  Our team work together as a team to make sure your ongoing health needs are met
            .col.text-center
                iframe(width='auto' height='auto' src='https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&mute=1')


main.cases#cases
    .container-fluid
        .row
            .col
                .container
                    .row
                        .col
                            h2.cases-title “Good health is not something we can buy. However, it can be an extremely valuable savings account.”
                            // Give functionality
                            button.btn.btn-light.rounded-pill(type='button') Contact us