.container.login
    .row
        .col
        .col.text-center
            h2 Hola de nuevo!
            span Bienvenido, Inicia sesión para continuar
            form.form-signin.d-grid.gap-3
                label.sr-only(for='inputEmail') Email
                input#inputEmail.form-control(type='email' placeholder='Email address' required='' autofocus='')
                label.sr-only(for='inputPassword') Contraseña
                input#inputPassword.form-control(type='password' placeholder='Password' required='')
                a(href="#1") Reestablecer contraseña
                button.btn.btn-lg.btn-primary.btn-block(type='submit') Iniciar sesión
            span O continúa con...
            .d-flex.justify-content-around
                a(href="")
                    img(src="./assets/png/google.png", alt="logo")
                a(href="")
                    img(src="./assets/png/facebook.png", alt="logo")
                a(href="")
                    img(src="./assets/png/linkedin.png", alt="logo")
            span
                | No tienes cuenta?
                a(href="#1")  Regístrate!