@import "_globals";
.cases{
    margin-top: 88px;
    height:266px;
    background-color: $color-primary-500 !important;
    display: flex;
    align-items:center;
    h1{
        @include font(48px, 700, $color-white);
    }
}
.items{
    
    &-nav{
        ul{
            margin:72px 0px 40px;
        }
        li{
            margin-right: 24px;
        }
        a{
            @include font(16px,500,$color-text-primary);
            
        }
    }
    &-content{
        div{ 
            height: 370px;
            border-radius: 16px;
            p{
                @include font(20px, 700, $color-text-primary);
            }
            a{
                margin-top: 16px;
                @include font(16px, 400, $color-link500);
                text-decoration: none;
            }
        }
        
    }
    &-pages{
        ul{
            margin: 56px 0px 67px;
        }
        li{
            margin-right: 16px;
        }
        li:first-child{
            a{
                color:$color-primary-500;
                padding: 10px 16px; 
                background-color: $color-white;
                box-shadow: 0px 8px 26px rgba(26,96,255,0.25);
                border-radius: 24px;
            }
        }
        li:last-child{
            margin-right:0px;
            a{
                padding: 10px 16px; 
                background-color: $color-white;
                box-shadow: 0px 8px 26px rgba(26,96,255,0.25);
                border-radius: 24px;
            }
        }
        a{
            @include font(24px, 700, $color-primary-500);
            text-decoration: none;
        }
    }
}