.login{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    div .col:nth-child(1){
        margin-right: 138px;
            background-image:url(../../assets/jpg/servicios.jpeg);
            background-repeat:no-repeat;
            background-size: cover;
            background-position: center center;
            width: 727.02px;
            height: 849px;
    }
    div .col:nth-child(2){
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        h2{
            @include font(28px, 500, #000000);
        }
        span:nth-child(2){
            @include font(18px, 400, #000000);
            margin-bottom: 49px;
        }
        span:nth-child(4){
            @include font(18px, 400, #000000);
            margin-top:35px;
        }
        span:nth-child(6){
            @include font(16px, 400, #000000);
            a{
                color: #4914E6;
                font-size: 16px;
            }
        }
        input{
            width: 380px;
            height: 60px;
            border: 1px solid #D6D6D6;
            box-shadow: -10px 15px 10px rgba(100, 100, 100, 0.121569);
            border-radius: 7px;
            @include font(15px, 300, #858585);
        }
        a{
            @include font(14px, 400, #000000);
            text-decoration: none;
        }
        button{
            width: 380px;
            height: 60px;
            background-color: #3D576D;
            box-shadow: -10px 15px 10px rgba(100, 100, 100, 0.121569);
            border-radius: 7px;
        }
        div{
            margin:37px 0px 53px;
            width: 380px;
            a{
                background: #FFFFFF;
                border: 1px solid #D6D6D6;
                box-shadow: -10px 15px 10px rgba(100, 100, 100, 0.231373);
                border-radius: 10px;
                padding:14px 30px;
                img{
                    width: 40px;
                }
            }
        }

    }
   
}