@import "_globals";

.homepage{
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    background: linear-gradient(180deg, #F4F7FF 0%, #E8EFFF 100%);
    &-description{
        height:100vh;
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        h1{
            @include font(48px, 700, $color-primary-500);
            text-align: center;
        }
        p{
            @include font(16px, 500, $color-text-primary)
        }
        button{
            @include buttonPrimary(222px, 65px, 100px, 18px, 400 );
            padding:20px 23px;
            margin-top: 17px;
        }
        button:hover{
            @include buttonSecondary(222px, 65px, 100px, 18px, 400 );
            padding:20px 23px;
        }
    } 
    
    &-images{
        height:auto;
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: flex-end !important;
        background-image: url('/assets/jpg/img-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &-buttongroup{
            height:250px;
            background-color: $color-white;
            opacity: 0.9;
            border-radius: 40px;
            padding:15px 25px;
            margin-right: 15px;
        }
    }   
    &-images-btn{
        background-color: $color-primary-500;
        border-radius:40px !important;
        color:$color-white;

    }
}