@import "_globals";

.homepage{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    background: linear-gradient(180deg, #F4F7FF 0%, #E8EFFF 100%);
    &-description{
        h1{
            @include font(48px, 700, $color-primary-500);
        }
        p{
            @include font(16px, 500, $color-text-primary)
        }
        button{
            @include buttonPrimary(222px, 65px, 100px, 18px, 400 );
            padding:20px 23px;
            margin-top: 17px;
        }
        button:hover{
            @include buttonSecondary(222px, 65px, 100px, 18px, 400 );
            padding:20px 23px;
        }
    } 
    
    &-images{
        height:659px;        ;
        position:relative;
        img{
            width:701px;
        }
        img::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.5);
        }
        &-buttongroup{
            height:224px;
            background-color: $color-white;
            border-radius: 40px;
            padding:15px 25px;
            position:relative;
        }
    }

        

    
    &-images-btn{
        background-color: $color-primary-500;
        border-radius:40px !important;
        color:$color-white;

    }
}