.services-page{
    background-color:$color-background;
    padding: 72px 32px;
    h1{@include font(36px,700, $color-text-primary);}
    p{
        margin-top:18px;
        @include font(16px,300, $color-text-primary);
        text-align: justify;}
    button{
        margin-top:40px;
        padding: 13px 38px;
        background-color: $color-primary-500;
        @include font(20px,700, $color-white);
    }
    h5{@include font(20px,700, $color-text-primary);}
    .card{
        border: none !important;
        box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
        border-radius: 16px;
        img{
            border-radius: 16px;
            height:260px;
            object-fit: cover;
        }
    }
}
.record{
    padding: 80px  100px ;
    background-color:$color-secondary-100;
    height: 369px !important;
    display: flex;
    align-items: center;
    justify-content:center;
    .col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{@include font(72px,700, $color-primary-500);}
    span{@include font(24px,400, $color-text-primary);}
    a{
        margin-top: 24px;
        @include font(14px,400, $color-link500);}
    }
    
}
.checklist{
    padding: 74px 0px;
    img{
        width: 606px;
        height: auto;
        border-radius: 16px;
    }
    h2{@include font(36px,700, $color-text-primary);}
    i{
        font-size:18px;
        color: $color-success500;
    }
    ul{
        padding-inline-start: 0px;
    }
    li{
        margin-top:24px;
        list-style: none;
        @include font(16px,500, $color-text-primary !important);}
}
