
<footer class="footer" id="footer">
  <div class="container-fluid footer-container">
    <div class="row gap-5">
      <div class="col footer-img"><img src="./assets/png/logo.png" alt="imagealt"/>
        <p>We are a family centered practice that incorporates compassion and dedication to promote your well being.</p>
      </div>
      <div class="col footer-patient-care"><span>Patient care</span>
        <ul>
          <li><a href="#0">Providers</a></li>
          <li><a href="#1">Servíces</a></li>
          <li><a href="#2">Request an Appointment</a></li>
          <li><a href="#3">Reviews</a></li>
          <li><a href="#4">Billing &amp; Insurance</a></li>
        </ul>
      </div>
      <div class="col footer-contact"><span>Contact</span>
        <ul>
          <li><a class="d-flex" href="#1"><i class="bi bi-cursor me-2"></i>
              <p>Boston, USA 55 Huntington Ave Str</p></a></li>
          <li><a class="d-flex" href="#2"><i class="bi bi-telephone me-2"></i>
              <p>+1 541-754-3010</p></a></li>
          <li><a class="d-flex" href="#3"><i class="bi bi-envelope me-2"></i>
              <p>support@medilab.com</p></a></li>
          <li><a class="d-flex" href="#4"><i class="bi bi-clock me-2"></i>
              <p>Mo-Fr: 07:00-23:00h</p></a></li>
        </ul>
      </div>
      <div class="col footer-social"><span>Follow Us</span>
        <div class="d-flex"><a class="fa fa-facebook" href="#"></a><a class="fa fa-youtube-play" href="#"></a></div>
      </div>
    </div>
  </div>
</footer>