
<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container"><a class="navbar-brand" href="#"><img src="./assets/png/logo.png" alt="logo"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto"><a class="nav-link" href="./index.html">Home</a><a class="nav-link" href="./us.html">Nosotros</a><a class="nav-link" href="#3">Servicios</a><a class="nav-link" href="./about.html">Proyectos</a><a class="nav-link" href="./faq.html">FAQ</a>
            <button class="btn navbar-btn" onclick="location.href='#1';" type="button" data-bs-toggle="modal" data-bs-target="#1">Crear pedido</button>
            <button class="btn navbar-btn" onclick="location.href='./login.html';" type="button" data-bs-toggle="modal" data-bs-target="./login.html">Iniciar sesión</button>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>