
<main class="case" id="case">
  <div class="container">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Healthy Tips</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col case-title"></div>
    </div>
  </div>
</main>
<Pense>que enserio te ibas-1.jpg", alt="image")
  <div class="col-12"><span class="text-center">When you want to have the maximum emotional impact in a</span></div>
  <div class="col-12">
    <p>The game starts us at a double screen, where we choose either the game or the additional content. As you can see, the same option is present on the next screen too. This creates an unnecessary barrier between the player and where they want to go, so keeping options all in one screen would allow for faster navigation.Moving to the next screen we see the text or icons used for navigation. This is a good way to make commonly used options prominent while the less frequently used ones are minimized. This screen also shows us that the game uses the color orange as the active state for buttons. The background illustration sets the tone for the game we are about to experience very well. his screen also shows us that the game uses the color orange as the active state for buttons. The background illustration sets the tone for the game we are about to experience very well.</p>
  </div>
</Pense>
<section class="tags" id="tags">
  <div class="container">
    <div class="row">
      <div class="col-md-4"><span class="rounded-pill badge bg-primary pt-2 pb-2">Tag 1</span><span class="rounded-pill badge bg-light text-black pt-2 pb-2">Tag 2</span><span class="rounded-pill badge bg-light text-black pt-2 pb-2">Emergency</span></div>
      <div class="col-md-4 ms-auto"><span>Share: </span><i class="bi bi-facebook"></i><i class="bi bi-twitter"></i></div>
    </div>
  </div>
</section>
<section class="similarposts" id="similarposts">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5>Similar posts</h5>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="container gap-4 items-content">
          <div class="row mb-5">
            <div class="col-4">
              <div class="card"><img class="card-img-top" src="./assets/png/image.png"/>
                <div class="card-body">
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p><a href="./case.html">Read more</a>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card"><img class="card-img-top" src="./assets/png/image.png"/>
                <div class="card-body">
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p><a href="./case.html">Read more</a>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card"><img class="card-img-top" src="./assets/png/image.png"/>
                <div class="card-body">
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p><a href="./case.html">Read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>