
<main class="cases" id="cases">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <h1 class="cases-title">About Us</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<section class="welcome">
  <div class="container">
    <div class="row">
      <div class="col"><img src="./assets/png/image.png" alt="image"/></div>
      <div class="col">
        <h2>Welcome To Clinicio</h2><span>Our clients are our priority, we offer quality medical services with a team of specialists.</span>
        <p>Our mission is to improve the health of our community by providing high quality, comprehensive medical care in a welcoming and compassionate environment. <br ><br > On behalf of the entire staff, we would like to welcome you to our clinic. We are pleased to have the opportunity to assist you with your physical therapy care. Our goal is to provide the highest quality and most up-to-date physical therapy treatments available in a professional and caring manner. We are committed to helping you attain your rehabilitation goals. It is also our goal to provide you with outstanding service.</p>
      </div>
    </div>
  </div>
</section>
<section class="image">
  <div class="container-fluid text-center"><img src="./assets/png/image.png" alt="image"/></div>
</section>
<section class="story">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Our story</h2>
        <p>We are a private, independent practice constantly striving to provide excellence in personalized, compassionate care that is consistent, quality-driven and choice-conscious for all of our patients.</p>
        <ul>
          <li><i class="bi bi-check-circle-fill"></i> Our staff is well trained, caring and professional</li>
          <li><i class="bi bi-check-circle-fill"></i> Willing to learn and update technology in an effort to achieve efficient and quality-driven patient care.</li>
          <li><i class="bi bi-check-circle-fill"></i> Willing to learn and update technology in an effort to achieve efficient and quality-driven patient care.</li>
          <li><i class="bi bi-check-circle-fill"></i> Our team work together as a team to make sure your ongoing health needs are met</li>
        </ul>
      </div>
      <div class="col text-center">
        <video width="auto" height="auto" controls="">
          <source src="./assets/video/movie.mp4" type="video/mp4"/>
        </video>
      </div>
    </div>
  </div>
</section>
<main class="cases" id="cases">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2 class="cases-title">“Good health is not something we can buy. However, it can be an extremely valuable savings account.”</h2>
              <button class="btn btn-light rounded-pill" type="button">Contact us</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>