
<main class="cases" id="cases">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="container">
          <div class="row">
            <div class="col">
              <h1 class="cases-title">Annual Wellness Exam</h1><span class="text-white">Keeping Close Attention To Your Health Is Always of Great Important</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="section services" id="services">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="container">
          <div class="row">
            <div class="col">
              <h1>Your Annual <br > Wellness Exam</h1>
              <p>
                 At this appointment, you can generally expect your doctor to take your vital signs, including your blood pressure and heart rate, and check your eyes, ears, nose, and mouth. 
                Finally, your doctor can determine whether you’re due for any immunizations, and also recommend routine screening tests that are appropriate for you.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <button class="btn rounded-pill btn-primary" type="button"> <i class="bi bi-calendar-check"></i> Submit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="container gap-3">
          <div class="row mb-4">
            <div class="col">
              <div class="card">
                <div class="btn-text-start"><img class="card-img-top" src="./assets/png/image.png" alt="image"/></div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="btn-text-start"><img class="card-img-top" src="./assets/png/image.png" alt="image"/></div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="btn-text-start"><img class="card-img-top" src="./assets/png/image.png" alt="image"/></div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="btn-text-start"><img class="card-img-top" src="./assets/png/image.png" alt="image"/></div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="service-carousel" id="service-carousel">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Our Personalized Prevention plan Is Designed To Keep You Safe</h1>
        <!-- TODO: Carousel-->
      </div>
    </div>
  </div>
</section>
<section class="record" id="record">
  <div class="container-fluid bg-primary">
    <div class="row">
      <div class="col">
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <h1>15M</h1><span>diseases and disorders prevented yearly in US due to annual wellness exams</span><a href="#1">National Survey on Health Disorders </a>
            </div>
            <div class="col text-center">
              <h1>45</h1><span>minutes per year is the average time you need for your annual wellness checks</span><a href="#2">The National Institute for Safety and Health</a>
            </div>
            <div class="col text-center">
              <h1>1 in 5</h1><span>among adults in the U.S. puts themselves to danger by skipping the annual exam</span><a href="#3">Nation Survey on Healthcare</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="checklist" id="checklist">
  <div class="container">
    <div class="row">
      <div class="col"><img src="./assets/png/image.png" alt="image"/></div>
      <div class="col">
        <h2>Annual Wellness Exam Checklist</h2>
        <ul>
          <li><i class="bi bi-check-circle-fill">Weight</i></li>
          <li><i class="bi bi-check-circle-fill">Height</i></li>
          <li><i class="bi bi-check-circle-fill">Blood Pressure</i></li>
          <li><i class="bi bi-check-circle-fill">Pulse</i></li>
          <li><i class="bi bi-check-circle-fill">Screening Lab Tests</i></li>
          <li><i class="bi bi-check-circle-fill">X-Rays</i></li>
          <li><i class="bi bi-check-circle-fill">Immunizations</i></li>
          <li><i class="bi bi-check-circle-fill">Medical History Review</i></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="contact" id="contact">
  <div class="container contact-container">
    <div class="row contact-title">
      <div class="col text-center">
        <h1>
           Request Appointment <br />
          for Annual Wellness Exam
        </h1>
      </div>
    </div>
    <div class="row contact-form">
      <div class="col-6 form offset-3">
        <div class="mb-3">
          <label class="form-label" for="exampleInputEmail1">Your Full Name</label>
          <input class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Input here"/>
        </div>
        <div class="mb-3">
          <label class="form-label" for="exampleInputEmail1">Phone Number</label>
          <input class="form-control" id="exampleInputNumber" type="tel" aria-describedby="numberHelp" placeholder="Input here"/>
        </div>
        <div class="mb-3">
          <label class="form-label" for="exampleInputEmail1">Email</label>
          <input class="form-control" id="exampleInputEmail" type="email" aria-describedby="emailHelp" placeholder="Vui lòng nhập"/>
        </div>
        <div class="mb-3">
          <label class="form-label" for="exampleInputEmail1">Schedule date</label>
          <input class="form-control" id="exampleInputDate" type="date" aria-describedby="dateHelp" placeholder="Select date and time"/>
        </div>
      </div>
    </div>
    <div class="row contact-submit">
      <div class="col d-flex justify-content-center">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </div>
  </div>
</section>